# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE (например, IntelliJ IDEA, VS Code, Eclipse)
.idea/
*.iml
*.classpath
*.project
.vscode/

# Системные
.DS_Store
Thumbs.db
